/*//Head*/
html,body{
    width: 100%;
    margin: 0;
    padding: 0;
}
/*//lgn button*/
.btn-eft {
    background-color: #ffffff;
    color: #333333;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    position: absolute;
    right: 30px;
    top: 30px;
    border-radius: 0 !important;
    border: none;
    transition:all 0.3s ease 0s;
    width: 200px;
    transform: skew(-21deg);
    }
.btn > span {
    display: inline-block;
    transform: skew(21deg);
}
.btn-eft:hover{
    background-color: #ffffff;

}
.btn-eft:hover,
.btn-eft.active:hover{
    color: #333333;
}
.btn-eft:before{
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    background-color: #ffffff;
    width: 30%;
    height: 4px;
    transition:all 0.3s ease 0s;
}
.btn-eft:after{
    content: "";
    position: absolute;
    bottom: -7px;
    right: 0;
    background-color: #F48224;
    width: 30%;
    height: 4px;
    transition:all 0.3s ease 0s;
}
.btn-eft:hover:before,
.btn-eft:hover:after,
.btn-eft.active:before,
.btn-eft.active:after{
    width: 100%;
}

@media screen and (max-width: 575px){
    .btn-eft{
        margin-bottom: 50px !important;
    }
}

@media (prefers-color-scheme: dark) {
    body { background: #333; color: white; }
}

@media (prefers-color-scheme: light) {
    body { background: #ddd; color: white; }
}
/*//head modal login*/

.head_mdl{
    border-radius: 0px;
    color: #333333!important;
}